extends layout

block content
  h1= title
  form(method='POST' action='/new')
    textarea(name='text' placeholder='your public message')
    br
    input(
      type='text'
      name='user'
      placeholder='your public name'
    )
    br
    input(
      type='submit'
      value='submit'
    ) 
